@media (max-width: 374px) {
    html {
        font-size: 85%;
    }
    .ct3 p:nth-child(2) {
        padding: 0;
    }
    .reason li {
        margin-bottom: 2%;
    }
}

@media (min-width: 500px) {
    html {
        font-size: 110%;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 170%;
    }
    .case_text1 {
        background-color: rgb(56, 56, 56);
        border-radius: 0.7rem;
        padding: 0.5rem 0.2rem 0.4rem 0.4rem;
    }
    
    .case_text2 {
        background-color: rgb(56, 56, 56);
        border-radius: 0.7rem;
        padding: 0.7rem 0.2rem 0.5rem 0.2rem;
    }

    .case_text2 p:nth-child(2) {
        padding-top: 1rem;
    }
    
}

@media (min-width: 750) {
    html {
        font-size: 180%;
    }
}