* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-image: url(/img/html_back.png);
    background-size: 100%;
}

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 750px;
    padding: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.171);
    line-height: 1.6em;
    font-size: 16px;
    font-weight: normal;
    font-family: 'YuMincho +36p Kana', 'Asap Condensed', "Lucida Grande", 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic, メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

p, a {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

li {
    color: white;
    display: list-item;
}

.ch {
    margin: 0 15%;
    margin: 0 auto;
    margin-bottom: 7%;
}

.header, .ch, .about_image {
    width: 100%;
    background-size: over;
}

header {
    margin-top: 5%;
    margin-bottom: 10%;
}

/* ラウンジについて */

.about {
    margin: 0 6%;
}

.about_image {
    margin-bottom: 10%;
}

.about_text {
    padding: 0 5%;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 15%;
    line-height: 1.3rem;
}

/* LINEリンク */

.contact {
    text-align: center;
    margin: 0 6% 15% 6%;
}

.contact_item img {
    width: 50%;
}

.contact_item {
    margin-bottom: 3%;
}

.contact_note p {
    font-size: 0.75rem;
    line-height: 1.2rem;
}

/* 応募の手順 */

.produce {
    margin-bottom: 25%;
}

.icon_check {
    width: 7%;
    float: left;
    margin-right: 3%;
}

.produce p{
    font-size: 0.9rem;
    line-height: 1.7rem;
}

.produce li {
    margin-bottom: 4%;
}

/* システム */

.system {
    text-align: center;
    margin-bottom: 15%;
}

.system_container {
    background-image: url(/img/system-back.png);
    background-size: cover;
    margin-top: -8%;
}

.system_overlay {
    background-color: rgba(0, 0, 0, 0.829);
    padding-top: 7%;
}

.system_inner {
    margin: 0 6%;
}

.system_img {
    padding-top: 2%;
    margin-bottom: 5%;
    width: 90%;
}

.system_text {
    padding-bottom: 20%;
    line-height: 1.2rem;
}

.system_item {
    padding: 3% 5%;
}

.system_item:first-child {
    margin-bottom: 5%;
}

.system_text p:first-child {
    font-size: 1.1rem;
}

.system_text p:nth-child(2) {
    color: rgb(197, 69, 69);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem;
}

.system_text p:nth-child(3) {
    font-size: 0.9rem;
    color: rgb(202, 202, 202);
}

/* モデルケース */

.model_case {
    margin: 0 6%;
}

.case1, .case2, .case3 {
    margin-bottom: 5%;
}

.case div:last-child {
    margin-bottom: 15%;
}

.case_title, .case_about {
    text-align: center;
}

.case_title p:first-child {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 0.6em;
    background-color: rgb(95, 69, 121);
    border-radius: 0.6rem;
    border-bottom: 0.1rem solid rgb(95, 69, 121);
}

.case_title p:nth-child(2) {
    display: inline-block;
    font-size: 1rem;
}

.case_class {
    overflow: hidden;
    margin-top: 0.5%;
    margin-bottom: 1.5%;
}

.case_class p{
    float: right;
    font-weight: bold;
    font-size: 1rem;
}

.case1 .case_class, .case2 .case_class {
    color: rgb(224, 192, 86);
}

.case3 .case_class {
    color: rgb(203, 211, 255);
}

.case4 .case_class {
    color: rgb(255, 83, 83);
}

.case_about p {
    font-size:0.8rem;
    color: rgb(223, 223, 223);
}

.ct3 p:nth-child(2){
    padding: 0.1rem 0;
}

span {
    font-size: 1.5rem;
    color: white;
}

.total {
    font-size:1.8rem;
    text-shadow: 2px 1px 0 rgb(253, 194, 0),
                 -2px 1px 0 rgb(175, 128, 0), 
                 2px -1px 0 rgb(80, 78, 0), 
                 -2px -1px 0 rgb(80, 78, 0);
}

.case_text1 {
    background-color: rgb(56, 56, 56);
    border-radius: 0.7rem;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
}

.case_text2 {
    background-color: rgb(56, 56, 56);
    border-radius: 0.7rem;
    padding: 0.4rem 0.2rem 0.3rem 0.2rem;
}

.case_text2 p:nth-child(2) {
    padding-top: 0.5rem;
}

.icon_arrow {
    line-height: 0;
}

.icon_arrow img {
    width: 5%;
    margin: 0.6rem;
}

/* 報酬受取 */

.reward {
    margin-bottom: 20%;
}

.reward_text{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 0.1rem solid rgb(80, 80, 80);
    color: rgb(197, 197, 197);
    padding: 0.5rem;
}

.reward_text p {
    font-size: 0.8rem;
    line-height: 1.7rem;
}

.reward_text p:first-child {
    font-size: 1rem;
    color: rgb(150, 120, 40);
}

/* 安心の理由 */

.reason {
    margin-bottom: 20%;
}

.icon_flower {
    width: 8%;
    padding-right: 0.4rem;
    vertical-align: middle;
}

.reason_list {
    margin-left: 22%;
}

.reason li {
    margin-bottom: 4%;
}

.reason p {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

/* フッター */

footer {
    padding-top: 20%;
    text-align: center;
}

footer a {
    display: block;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

footer p {
    margin-top: 5%;
    font-size: 0.3rem;
}